
section.about-section.section 
  .container 
    h2.about-section__title.section__title ! Минимальная сумма заказа от 3 000 руб.
    .about-info.swiper.js-about-slider
      .swiper-wrapper  
        .about-info__item.swiper-slide(style="background-image: url('../img/about/bg-01.png')") 
          .about-info__item-title Низкие оптовые цены
          .about-info__item-desc Мы работаем без посредников, напрямую с поставщиками и потому предлагаем своим клиентам одни из самых выгодных оптовых цен на чулочно-носочные изделия. Сотрудничая с нами, Вы ощутимо сэкономите. Мы поможем Вам зарабатывать больше.
        .about-info__item.swiper-slide(style="background-image: url('../img/about/bg-02.png')") 
          .about-info__item-title Качественная продукция
          .about-info__item-desc Мы реализуем только высококачественную продукцию от проверенных временем крупных поставщиков. Ассортимент наших чулочно-носочных изделий отличается разнообразием. У нас Вы найдете модели из натуральных тканей (лен, хлопок, бамбук, шерсть). Вся продукция сертифицирована.
        .about-info__item.swiper-slide(style="background-image: url('../img/about/bg-03.png')") 
          .about-info__item-title Бесплатная доставка
          .about-info__item-desc Мы производим бесплатную доставку товара по г. Оренбургу при единовременной покупке от 5000 рублей. В другие регионы России и Казахстана доставка осуществляется любым удобным для клиента способом - сотрудничаем со всеми транспортными компаниями.
      .swiper-pagination
    .about-desc
      p Наш интернет-магазин рад предложить Вам мужские и женские носки, а также трикотаж, по самым низким ценам, производители которых ведущие Российские, Белорусские, Китайские и другие известные фабрики, выпускающие качественную продукцию, с которыми мы сотрудничаем уже многие годы.
      p Большой популярностью и большим спросом пользуются недорогие мужские носки, и мы предлагаем их по самой низкой цене — <b>всего от 10р за пару</b>. За долгие годы сотрудничества с Российскими и Китайскими производителями чулочно-носочной продукции, мы стали основными дистрибьюторами фабрик - «Ногинка»,«Ростекс», «Юстатекс» и многих других, поэтому у нас самые низкие цены на самую качественную продукцию. Также у нас огромный ассортимент женских и детских носков, колготок и многого другого. С полным списком наименований Вы можете ознакомится <a href="#">здесь</a>.
      p Товар на склад поступает ежедневно в большом ассортименте и в этот же день обрабатывается менеджерами нашего сайта, что бы вы всегда могли видеть новое поступление товара.
      p Мы производим доставку в любую точку России, Казахстана и СНГ любым удобным для Вас способом. Сборка товара осуществляется в самые короткие сроки. После оплаты товара, на следующий день, он будет выслан Вам. Товар бронируется под Вас на складе сразу после заказа. Весь ассортимент, что Вы видите на страницах сайта, есть в наличии на складе. Отзывы о нашей работе Вы можете прочитать <a href="#">здесь</a>.
section.about-section.section
  .container 
    h2.about-section__title.section__title Склад
    .about-storage 
      picture.about-storage__img 
        source(srcset="./img/about/storage-01.webp" type="image/webp")
        img(src="./img/about/storage-01.jpg", alt="")
      picture.about-storage__img 
        source(srcset="./img/about/storage-02.webp" type="image/webp")
        img(src="./img/about/storage-02.jpg", alt="")
      picture.about-storage__img 
        source(srcset="./img/about/storage-03.webp" type="image/webp")
        img(src="./img/about/storage-03.jpg", alt="")
section.about-section.section 
  .container 
    h2.about-section__title.section__title Сертификаты
    .about-serts.swiper.js-serts-slider 
      .swiper-wrapper 
        picture.about-serts__item.swiper-slide
          source(srcset="./img/about/sert-01.webp" type="image/webp")
          img(src="./img/about/sert-01.jpg", alt="")
        picture.about-serts__item.swiper-slide
          source(srcset="./img/about/sert-02.webp" type="image/webp")
          img(src="./img/about/sert-02.jpg", alt="")
        picture.about-serts__item.swiper-slide
          source(srcset="./img/about/sert-03.webp" type="image/webp")
          img(src="./img/about/sert-03.jpg", alt="")
        picture.about-serts__item.swiper-slide
          source(srcset="./img/about/sert-04.webp" type="image/webp")
          img(src="./img/about/sert-04.jpg", alt="")
        picture.about-serts__item.swiper-slide
          source(srcset="./img/about/sert-05.webp" type="image/webp")
          img(src="./img/about/sert-05.jpg", alt="")
      .swiper-pagination