.popup.popup--sm.popup-bottom(id="modal-remove-from-cart" data-modal)
  .popup__overlay 
  .popup__wrapper
    .popup__inner 
      .popup__content 
        button(type="button" data-modal-close).popup__close
          +svg(24, 24, 'close')
        .popup__subtitle Удалить выбранные позиции из корзины?
        .popup__controls 
          button(type="button").popup__btn.btn.btn--outline.btn--wide Отмена
          button(type="button").popup__btn.btn.btn--blck.btn--wide Удалить

