.cabinet.js-tabs
  .container 
    include components/cabinet-nav-panel 
    include components/cabinet-history-empty
    include components/cabinet-carts-empty
    include components/cabinet-personal