.reviews-write.js-reviews-write
  button(type="button").reviews-write__back.js-reviews-write-close
    +svg(24, 24, 'arrow-link-left')
    span Написать отзыв
  .default-result 
    picture.default-result__img 
      source(srcset="./img/result/reviews-success.svg")
      img(src="./img/result/reviews-success.svg", alt="")
    .default-result__text Ваш отзыв был успешно отправлен. Он будет опубликовано после одобрения <br> модератором сайта!