.reviews__pagination.pagination
  button(type="button").pagination__control 1
  button(type="button").pagination__control.is-selected 2 
  button(type="button").pagination__control 3 
  button(type="button").pagination__control 4 
  button(type="button").pagination__control 5 
  button(type="button").pagination__control ... 
  button(type="button").pagination__control Дальше
button(type="button").reviews__leave-a-comment.btn.btn--350.reviews-hidden.js-reviews-write-add.js-reviews-write-hide Написать отзыв