.reviews__list 
  .reviews-item 
    .reviews-item__head 
      .reviews-item__top 
        .reviews-item__rating 
          +svg(16, 16, 'star-filled')
          +svg(16, 16, 'star-filled')
          +svg(16, 16, 'star-filled')
          +svg(16, 16, 'star-filled')
          +svg(16, 16, 'star-stroke')
        .reviews-item__date 31 Января 2024
      .reviews-item__account
        .reviews-item__account-avatar 
          img(src="./img/reviews/avatar-02.png", alt="")
        .reviews-item__account-name Елена B.
    .reviews-item__body 
      .reviews-item__text Здравствуйте, скажите пожалуйста можно ли заказать партию таких носков в других цветах и размерах, появятся ли такие и сколько ждать? Спасибо.
    .reviews-item__answer 
      .reviews-item__top
        .reviews-item__date 02 Февраля 2024
      .reviews-item__account
        .reviews-item__account-avatar
          img(src="./img/reviews/avatar-01.png", alt="")
        .reviews-item__account-name Ответ Orensocks
      .reviews-item__text Елена, спасибо за вопрос. В ближайшее время мы ожидаем новое поступление этой позиции в новых цветах.
  .reviews-item 
    .reviews-item__head 
      .reviews-item__top 
        .reviews-item__rating 
          +svg(16, 16, 'star-filled')
          +svg(16, 16, 'star-filled')
          +svg(16, 16, 'star-filled')
          +svg(16, 16, 'star-stroke')
          +svg(16, 16, 'star-stroke')
        .reviews-item__date 8 Декабря 2023
      .reviews-item__account
        .reviews-item__account-avatar 
          img(src="./img/reviews/avatar-03.png", alt="")
        .reviews-item__account-name Татьяна
    .reviews-item__body 
      .reviews-item__text В целом товар хороший, качество отличное но я рассчитывала, что цвет будет потемнее, как на картинке.