section.delivery-section.section
  .container 
    h2.section__title.h2 Уважаемые наши клиенты, в данном разделе Вы ознакомитесь с правилами доставки от нашего магазина!
    ul.delivery-section__list 
      li Минимальная сумма заказа в нашем интернет-магазине 3 000 рублей.
      li Мы производим бесплатную доставку по г. Оренбургу при единовременной покупке от 8 000 рублей.
      li Мы отправим Ваш заказ в любой регион России, включая Крымский полуостров, в любой регион Казахстана.
      li Доставка осуществляется любым удобным для клиента способом - сотрудничаем со всеми транспортными компаниями.
      li Бесплатная доставка до транспортной компании.
      li Отправляем посылки через СберЛогистику.
section.section.banner.banner--blue
  .container 
    .banner__inner 
      .banner__info 
        .banner__delivery 
          .banner__delivery-title Доставка по всей России
      picture.banner__img 
        img(src="./img/banners/b-trucks.png", alt="")
section.delivery-section.section
  .container 
    h2.section__title.h2 Отправляем груз транспортными компаниями каждый день
    .delivery-section__partners 
      .delivery-section__partners-subtitle Мы работаем с многими транспортными компаниями такими как:
      .delivery-section__partners-list 
        ul.ul.delivery-section__partners-section
          li.delivery-section__partners-item 
            a(href="#") Деловые линии
          li.delivery-section__partners-item 
            a(href="#") ПЭК
          li.delivery-section__partners-item 
            a(href="#") КИТ
        ul.ul.delivery-section__partners-section
          li.delivery-section__partners-item 
            a(href="#") Энергий
          li.delivery-section__partners-item 
            a(href="#") Желдорэкспедиция
          li.delivery-section__partners-item 
            a(href="#") Главдоставка
        ul.ul.delivery-section__partners-section
          li.delivery-section__partners-item 
            a(href="#") ЕМС Экспресс -доставка по России
          li.delivery-section__partners-item 
            a(href="#") СДЭК
          li.delivery-section__partners-item 
            a(href="#") Фаворит Экспресс
        ul.ul.delivery-section__partners-section
          li.delivery-section__partners-item 
            a(href="#") Луч
          li.delivery-section__partners-item 
            a(href="#") Почта России
          li.delivery-section__partners-item 
            a(href="#") Байкал Сервис
section.section.banner.banner--purple
  .container 
    .banner__inner 
      .banner__info 
        .banner__contacts 
          .banner__contacts-item.banner__contacts-item--tel
            .banner__contacts-item-label Контактный телефон:
            .banner__contacts-item-info 8 800 550-49-98 
            .banner__contacts-item-desc (Звонок бесплатный)
          .banner__contacts-item 
            .banner__contacts-item-label Электронная почта:
            .banner__contacts-item-info orensocks@yandex.ru
      picture.banner__img 
        source(srcset="./img/banners/b-trucks-single.webp" media="(max-width: 767px)")
        img(src="./img/banners/b-trucks-02.webp", alt="")