.catalog__categories 
  .catalog__categories-panel
    button.catalog__categories-control.catalog__categories-prev.slider-control.js-categories-slider-prev
      +svg(24, 24, 'arrow-left')
    .catalog__categories-list.js-categories-slider
      .swiper-wrapper 
        a(href="#").catalog__categories-item.swiper-slide Мужские носки
        a(href="#").catalog__categories-item.swiper-slide Женские носки
        a(href="#").catalog__categories-item.swiper-slide Подростковые носки
        a(href="#").catalog__categories-item.swiper-slide Зимние носки
        a(href="#").catalog__categories-item.swiper-slide Спортивные носки
        a(href="#").catalog__categories-item.swiper-slide Носки сетка
        a(href="#").catalog__categories-item.swiper-slide Зимние носки
        a(href="#").catalog__categories-item.swiper-slide Носки сетка 
    button.catalog__categories-control.catalog__categories-next.slider-control.js-categories-slider-next
      +svg(24, 24, 'arrow-right')