section.default-result 
  picture.default-result__img 
    source(srcset="./img/result/reviews-success.svg")
    img(src="./img/result/reviews-success.svg", alt="")
  .default-result__text Ваш отзыв был успешно отправлен. Он будет опубликовано после одобрения <br> модератором сайта!
  a(href="#").default-result__btn.btn.btn--outline Вернуться на страницу отзывов