section.default-result
  picture.default-result__img 
    source(srcset="./img/result/reviews.svg")
    img(src="./img/result/reviews.svg", alt="")
  .default-result__text Отзывов еще нет. Ваш может стать первым!
  button(type="button").default-result__btn.btn.btn--outline.js-reviews-write-add Написать отзыв