section.cart 
  .container
    h1.heading.h1 У вас в корзине
    .cart-result
      .default-result 
        picture.default-result__img 
          source(srcset="./img/cart/empty.svg")
          img(src="./img/cart/empty.svg", alt="")
        .default-result__text Пока ничего нет.
        a(href="#").default-result__btn.btn.btn--outline Перейти в каталог