.catalog-menu.js-catalog-menu 
	.catalog-menu__panel 
		.catalog-menu__back.js-catalog-menu-back
			+svg(24, 24, 'arrow-link-left')
		.catalog-menu__search.searchbar 
			.searchbar.js-search
				.searchbar__panel 
					input(type="text" placeholder="Поиск города или региона").searchbar__input.form-control.js-search-input
					button(type="button").searchbar__clear.searchbar__clear--with-btn.js-search-clear
						+svg(24, 24, 'close')
					span.searchbar__icon 
						+svg(24, 24, 'search')
					button(type="button").searchbar__btn Найти
		button.catalog-menu__close.js-catalog-menu-close
			+svg(24, 24, 'close')
	.catalog-menu__inner
		.catalog-menu__nav 
			.catalog-menu__nav-list
				.catalog-menu__item.js-catalog-menu-item(data-id="1") 
					+svg(24, 24, 'star')
					span Новинки
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="2")  
					+svg(24, 24, 'socks-man')
					span Мужские носки
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="3")  
					+svg(24, 24, 'gift-box')
					span Носки в подарочной упаковке
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="4")  
					+svg(24, 24, 'socks-medical')
					span Медицинские носки
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="5")  
					+svg(24, 24, 'socks-woman')
					span Женские носки
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="6")  
					+svg(24, 24, 'socks-teens')
					span Подростковые носки
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="7")  
					+svg(24, 24, 'socks-kids')
					span Детские носки
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="8")  
					+svg(24, 24, 'socks-winter')
					span Носки зимние
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="9")  
					+svg(24, 24, 'socks-colors')
					span Цветные носки
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="10")  
					+svg(24, 24, 'socks-white')
					span Белые носки
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item(data-id="11")  
					+svg(24, 24, 'socks-sledochki')
					span Носки-тапочки
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="12")  
					+svg(24, 24, 'briefcase')
					span Всё для школы
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="13")  
					+svg(24, 24, 'leggins-w')
					span Колготки детские
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="14")  
					+svg(24, 24, 'leggins')
					span БАНДАЛЕТКИ
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="15")  
					+svg(24, 24, 'camisole')
					span ЛЕГИНСЫ, ТОПЫ ДЛЯ ФИТНЕСА
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="16")  
					+svg(24, 24, 'colgotki')
					span ГОЛЬФЫ, ЧУЛКИ, КОЛГОТКИ Х/Б
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'pregnant')
					span КОЛГОТКИ, ЛОСИНЫ ДЛЯ БЕРЕМЕННЫХ
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'shirt')
					span ТУРЦИЯ NICOLETTA (НИКОЛЕТТА)
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'shirt')
					span BAYKAR БЕЛЬЁ
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'shirt')
					span DONELLA БЕЛЬЕ ТУРЦИЯ
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'under-kids')
					span ТРУСЫ ДЕТСКИЕ
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'under-womans')
					span Женские трусы
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'under-mans')
					span Мужские трусы
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'knit-kids')
					span Трикотаж детский
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'knit-woman')
					span Трикотаж женский
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'knit-man')
					span Трикотаж мужскиой
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'mitt')
					span ПЕРЧАТКИ И ВАРЕЖКИ
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'gloves')
					span ПЕРЧАТКИ РАБОЧИЕ
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'belt')
					span Пояса, наколенники
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__item.js-catalog-menu-item(data-id="17")  
					+svg(24, 24, 'socks-new-year')
					span НОВОГОДНИЕ НОСКИ!
					.catalog-menu__item-arrow 
						+svg(24, 24, 'arrow-right')
				.catalog-menu__regions 
					.catalog-menu__item.js-catalog-menu-item(data-id="18")  
						span РОССИЯ
						.catalog-menu__item-arrow 
							+svg(24, 24, 'arrow-right')
					.catalog-menu__item.js-catalog-menu-item(data-id="19")  
						span КИТАЙ
						.catalog-menu__item-arrow 
							+svg(24, 24, 'arrow-right')
					.catalog-menu__item.js-catalog-menu-item(data-id="20")  
						span БЕЛАРУСЬ
						.catalog-menu__item-arrow 
							+svg(24, 24, 'arrow-right')
					.catalog-menu__item.js-catalog-menu-item(data-id="21")  
						span СЕРБИЯ
						.catalog-menu__item-arrow 
							+svg(24, 24, 'arrow-right')
					.catalog-menu__item.js-catalog-menu-item(data-id="22")  
						span ТУРЦИЯ
						.catalog-menu__item-arrow 
							+svg(24, 24, 'arrow-right')
					.catalog-menu__item.js-catalog-menu-item(data-id="23")  
						span УЗБЕКИСТАН
						.catalog-menu__item-arrow 
							+svg(24, 24, 'arrow-right')
		.catalog-menu__content 
			.catalog-menu__section.js-catalog-section(data-section="1") 
				.catalog-menu__section-head.js-catalog-section-back 
					+svg(24, 24, 'arrow-link-left') 
					span Новинки
				.catalog-menu__section-list
					a(href="#").catalog-menu__new-item 
						picture.catalog-menu__new-item-img 
							source(srcset="./img/catalog/preview-01.webp" type="image/webp")
							img(src="./img/catalog/preview-01.jpg", alt="")
						.catalog-menu__new-item-info ДЕТСКИЕ КОЛГОТКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T041
					a(href="#").catalog-menu__new-item 
						picture.catalog-menu__new-item-img 
							source(srcset="./img/catalog/preview-02.webp" type="image/webp")
							img(src="./img/catalog/preview-02.jpg", alt="")
						.catalog-menu__new-item-info ДЕТСКИЕ КОЛГОТКИ БЕБИКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T025
					a(href="#").catalog-menu__new-item 
						picture.catalog-menu__new-item-img 
							source(srcset="./img/catalog/preview-03.webp" type="image/webp")
							img(src="./img/catalog/preview-03.jpg", alt="")
						.catalog-menu__new-item-info ДЕТСКИЕ КОЛГОТКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T016
				a.catalog-menu__section-all.btn.btn--outline.btn--wide(href="#") Смотреть все товары категории 
			.catalog-menu__section.js-catalog-section(data-section="2")
				.catalog-menu__section-head.js-catalog-section-back 
					+svg(24, 24, 'arrow-link-left') 
					span Мужские носки
				.catalog-menu__section-list
					a.catalog-menu__section-link(href="#") Летние носки
					a.catalog-menu__section-link(href="#") Носки черные
					a.catalog-menu__section-link(href="#") носки сетка
					a.catalog-menu__section-link(href="#") Носки белые
					a.catalog-menu__section-link(href="#") Спортивные носки
					a.catalog-menu__section-link(href="#") Укороченные носки
					a.catalog-menu__section-link(href="#") Следки на силиконе
					a.catalog-menu__section-link(href="#") Дизайнерские носки
				a.catalog-menu__section-all.btn.btn--outline.btn--wide(href="#") Смотреть все товары категории 
		.catalog-menu__banner 
			.banner.banner--md.banner--blue
				.banner__inner Приглашаем оптовиков и организаторов для совместных закупок!
				picture.banner__img 
					source(src="./img/banners/bags-02.png" type="image/png")
					source(src="./img/banners/bags-02.webp" type="image/webp")
					img(src="./img/banners/bags-02.webp", alt="")
	.catalog-menu__search-result
		.search-result-item
			a.search-result-item__link(href="#")
				span.search-result-item__icon
					+svg(16, 16, 'search')
				span ДЕТСКИЕ ТРУСЫ НА ДЕВОЧКУ, РАЗМЕРЫ 26,28,30,32,34 ПО 2 ШТ. НА КАЖДЫЙ РАЗМЕР ТД-17
		.search-result-item
			a.search-result-item__link(href="#")
				span.search-result-item__icon
					+svg(16, 16, 'search')
				span ДЕТСКИЕ ТРУСЫ НА ДЕВОЧКУ, РАЗМЕРЫ 26,28,30,32,34 ПО 2 ШТ. НА КАЖДЫЙ РАЗМЕР ТД-17
		.search-result-item
			a.search-result-item__link(href="#")
				span.search-result-item__icon
					+svg(16, 16, 'search')
				span ДЕТСКИЕ ТРУСЫ НА МАЛЬЧИКА ХЛОПОК 100% РОССИЯ, РАЗМЕРЫ 26,28,30,32,34 ПО 2 ШТ. НА КАЖДЫЙ РАЗМЕР ТМ-27
		.search-result-item
			a.search-result-item__link(href="#")
				span.search-result-item__icon
					+svg(16, 16, 'timer')
				span ТРУСЫ МУЖСКИЕ
			button(type="button").search-result-item__remove
				+svg(24, 24, 'close')
		.search-result-item
			a.search-result-item__link(href="#")
				span.search-result-item__icon
					+svg(16, 16, 'timer')
				span ТРУСЫ МУЖСКИЕ
			button(type="button").search-result-item__remove
				+svg(24, 24, 'close')