section.ordering-section.section 
  .container 
    h2.section__title.h2 Минимальная сумма заказа от 3 000 руб.
    .ordering-section__desc 
      p На сайте все цены оптовые. Размерными рядами покупать не обязательно. Наш Интернет-магазин обновляется ежедневно. Весь представленный в каталоге товар – есть в наличии. Работаем с физическими и юридическими лицами, а также с организаторами СП.
      p Для работы с нами регистрация на сайте необязательна. История Ваших заказов привязана к адресу электронной почты. Для того, чтобы сделать заказ, Вы отправляете выбранный товар в "Корзину" и нажимаете: "Оформить заказ". В корзине Вы можете удалить товар или отрегулировать его количество. При оформлении Вам будет предложено заполнить форму. 
        b Просим заполнять все поля, это значительно ускоряет обработку заказа.
      p Не забудьте указать способ оплаты и способ доставки. Если Вам на E-mail пришло автоматическое подтверждение с сайта, значит мы видим Вашу заявку и программа автоматически зарезервировала товар на складе.
      p 
        b Упаковка товара и доставка до транспортных компаний 
        | - бесплатно! При получении заказа, мы бронируем товар на 5 календарных суток. Если оплата не поступила, мы высылаем письмо с напоминанием, затем бронь с товара снимается. В течении этих 5 суток Вы можете делать дозаказы на любые суммы. Дозаказ делается только на сайте через Корзину. Мы объединим дозаказ с основным и вышлем Вам новую сумму. Корректировка заказа и дозаказа после оплаты невозможны. На реализацию, с отсрочкой платежа и наложенным платежом товар мы не предоставляем.
      p 
        b Приемку и проверку товара 
        | Вы осуществляете не позднее 3-х суток с момента получения груза на Транспортной компании.
      p 
        b Возврат и обмен. 
        | При необходимости обмена товара надлежащего качества после получения заказа, возврат принимаем в нашем магазине: г. Оренбург, Кондукторская улица, 2А, ТК Город Локомотив, 4 этаж, место 8-9.  Возврат из регионов осуществляется на адрес, на который сообщит Ваш менеджер. Отправка посылки за счет Покупателя. Для осуществления возврата необходимо связаться с менеджером по телефону 8 800 550-49-98 (звонок бесплатный)
section.ordering-section.section 
  .container 
    h2.section__title.h2 Оплата заказа
    .ordering-section__desc 
      p У нас возможно произвести оплату за товар любым удобным Вам способом: 
        b на карту Сбербанка, по безналичному расчету, через систему денежных переводов и так далее.
    .ordering-benefits 
      .ordering-benefits__title Для клиентов мы предлагаем систему скидок
      .ordering-benefits__list
        .ordering-benefits__item(style="background-image: url('../img/advantages/bg-01.jpg')")
          .ordering-benefits__item-title СКИДКА ПОСТОЯННОГО КЛИЕНТА 
          .ordering-benefits__item-desc Начиная со 2-го заказа, <b>скидка 3%</b> (при оплате на карту Сбербанка), <b>скидка 2%</b> (при оплате на расчетный счет)
        .ordering-benefits__item(style="background-image: url('../img/advantages/bg-02.jpg')")
          .ordering-benefits__item-title СКИДКА ОТ СУММЫ
          .ordering-benefits__item-desc При первом заказе от 100 000 руб. - <b>скидка 3%</b>
        .ordering-benefits__item(style="background-image: url('../img/advantages/bg-03.jpg')")
          .ordering-benefits__item-title СКИДКИ НЕ СУММИРУЮТСЯ
section.ordering-section.section 
  .container 
    h2.section__title.h2 Юридические лица и индивидуальные предприниматели
    .ordering-section__desc 
      p Создаете заявку на сайте, указывая форму оплаты и способ доставки и получаете от менеджера подтверждение того, что заказ принят, сумму к оплате и счет для оплаты. Подтвержденный заказ можно оплатить в течении 5 суток. На этот срок бронируется товар на складе. Отгружаем товар НЕ ПОЗДНЕЕ 2-х СУТОК с момента поступления денег на наш счет. Предоставляем полный пакет документов: договор, счет, сертификаты, накладные. Напоминаем плательщикам НДС, что мы работаем по упрощенной системе налогообложения - без НДС.
section.ordering-section.section 
  .container 
    h2.section__title.h2 Физические лица и организаторы СП
    .ordering-section__desc 
      p Делаете заказ на сайте, указывая способ доставки и получаете подтверждение того, что заявка принята, сумму к оплате и реквизиты для оплаты. Подтвержденный заказ Вы можете оплатить в течении 5 суток. На этот срок бронируется товар на складе. Отгружаем товар НЕ ПОЗДНЕЕ 2-х СУТОК с момента поступления денег.
      p 
        b Также можно оплатить счет через системы денежных переводов:
      p 1. ЗОЛОТАЯ КОРОНА <br> 2. СТЕРН ЮНИОН
      p Если у Вас возникли вопросы, можете их задать нам на электронную или проконсультироваться по бесплатному телефону:
section.section.banner.banner--purple
  .container 
    .banner__inner 
      .banner__info 
        .banner__title Доставка по всей России
      picture.banner__img 
        img(src="./img/banners/b-trucks-02.png", alt="")