doctype html
html(lang="en")
  include includes/head
  +head('Корзина')
  body
    include mixins/_mixins
    include components/header
    main
      +breadcrumbs(['Главная', 'Корзина', 'Дозаказ к заказу'], 'Главная')
      include blocks/cart/cart-error

    include components/footer
    include includes/scripts