doctype html
html(lang="en")
  include includes/head
  +head('Контакты')
  body
    include mixins/_mixins
    include components/header
    main
      +breadcrumbs(['Главная', 'Контакты'])
      +heading('Контакты')
      include blocks/contacts/contacts
      
    include components/footer
    include includes/scripts