doctype html
html(lang="en")
  include includes/head
  +head('Авторизация')
  body
    include mixins/_mixins
    include components/header
    main
      +breadcrumbs(['Главная', 'Авторизация', 'Восстановление пароля'])
      section.auth 
        .container 
          h1.heading.auth__title.h1 Восстановление пароля
          .auth__main 
            .auth__img 
              img(src="./img/auth/mail-send.svg", alt="")
            .auth__desc Пожалуйста, проверьте свою электронную почту, чтобы получить инструкции по восстановлению пароля.
            a.auth__back-btn.btn.btn--wide.btn--outline Вернуться на страницу авторизации
    include components/footer
    include includes/scripts