doctype html
html(lang="en")
  include includes/head
  +head('Отзывы')
  body
    include mixins/_mixins
    include components/header
    main
      +breadcrumbs(['Главная', 'Отзывы'])
      +heading('Отзывы')
      .reviews-empty
        .container.container--xs
          .reviews-empty-content
            include blocks/reviews/reviews-error

    include components/footer
    include includes/scripts