section.contacts-person.section 
  .container 
    .contacts-person__items 
      .contacts-person__item 
        .contacts-person__item-title ИП Абдуллина Лилия Равильевна
        .contacts-person__item-desc
          p ИНН 561109363493, ОГРН 305561124400026
          p Расчётный счёт: 40802810646000005294
          p Банк: ОРЕНБУРГСКОЕ ОТДЕЛЕНИЕ N8623 ПАО СБЕРБАНК
          p БИК: 045354601
          p Кор. счёт: 30101810600000000601
      .contacts-person__item 
        .contacts-person__item-title ИП Абдуллин Рушат Раилевич
        .contacts-person__item-desc
          p ИНН 561109363567
          p Расчётный счёт: 40802810746000008586
          p Банк: ОРЕНБУРГСКОЕ ОТДЕЛЕНИЕ N8623 ПАО СБЕРБАНК
          p БИК: 045354601
          p Кор. счёт: 3010181060000000060
section.section.banner.banner--purple
  .container 
    .banner__inner 
      .banner__info 
        .banner__title Доставка по всей России
      picture.banner__img 
        img(src="./img/banners/b-trucks-02.png", alt="")
section.contacts-location.section 
  .container
    .contacts-location__items
      .contacts-location__item
        .contacts-location__item-title Основной склад:
        .contacts-location__item-map
          img(src="./img/map/img-01.jpg", alt="")
        .contacts-location__item-adress 460007, г. Оренбург, Кондукторская улица, 2А, ТК Город Локомотив, 4 этаж, место 8-9
      .contacts-location__item
        .contacts-location__item-title Адрес пункта выдачи транспортной компании:
        .contacts-location__item-map
          img(src="./img/map/img-02.jpg", alt="")
        .contacts-location__item-adress г. Екатеринбург, ул. Норильская, д.77
        
