section.banner.banner--purple.section 
  .container 
    .banner__inner 
      .banner__info 
        .banner__title Доставка по всей России
        .banner__desc Абакан Аксай Алматы Альметьевск Армавир Артем Архангельск Астана Астрахань Балаково Барнаул Белгород Березники Бийск Благовещенск Бор Борисоглебск Братск Брянск Буденновск Великий Новгород Владивосток Владикавказ Владимир Волгоград Волжский Вологда Воронеж Дзержинск Димитровград Екатеринбург Железнодорожный Зеленодольск Иваново Ижевск Иркутск Йошкар-Ола Казань Калининград Калуга Каменск-Уральский Каменск-Шахтинский Кемерово Кинешма Киров Коломна
      picture.banner__img 
        img(src="./img/banners/b-trucks.png", alt="")

