section.benefits.section   
  .container 
    .benefits__list.js-advantages-slider 
      .swiper-wrapper
        .swiper-slide
          .benefits__item(style="background-image: url('../img/benefits/bg-01.jpg')") 
            .benefits__item-title На всю продукцию имеются все необходимые сертификаты
        .swiper-slide 
          .benefits__item(style="background-image: url('../img/benefits/bg-02.jpg')")  
            .benefits__item-title Палеты с товаром для продажи на маркетплейсах
            .benefits__item-link 
              span  Звоните: 
              a(href="tel:+79878741420") +7 (987) 874 14 20
        .swiper-slide
          .benefits__item.swiper-slide(style="background-image: url('../img/benefits/bg-03.jpg')")  
            .benefits__item-title Бесплатная доставка по Оренбургу при заказе от 5000 ₽
    