section.manufacturer.section  
  .container 
    .manufacturer__title.h2 Производители
    .manufacturer__content
      .manufacturer__table.js-tabs 
        .manufacturer__table-head 
          button.manufacturer__table-cell.js-tabs-control.is-selected(type="button" data-control="1") Россия
          button.manufacturer__table-cell.js-tabs-control(type="button" data-control="2") Китай
          button.manufacturer__table-cell.js-tabs-control(type="button" data-control="3") Беларусь
          button.manufacturer__table-cell.js-tabs-control(type="button" data-control="4") Сербия
          button.manufacturer__table-cell.js-tabs-control(type="button" data-control="5") Турция
          button.manufacturer__table-cell.js-tabs-control(type="button" data-control="6") Узбекистан
        .manufacturer__table-body.tabs-content.js-tabs-content.is-active(data-content="1") 
          .manufacturer__table-row 
            .manufacturer__table-cell 
              a(href="#") МИНИBS
            .manufacturer__table-cell 
              a(href="#") Лиана
            .manufacturer__table-cell 
              a(href="#") FUTE
            .manufacturer__table-cell 
              a(href="#") Наташа
            .manufacturer__table-cell 
              a(href="#") TURKAN
            .manufacturer__table-cell 
              a(href="#") Роза
          .manufacturer__table-row 
            .manufacturer__table-cell 
              a(href="#") МИНИBS
            .manufacturer__table-cell 
              a(href="#") Лиана
            .manufacturer__table-cell 
              a(href="#") FUTE
            .manufacturer__table-cell 
              a(href="#") Наташа
            .manufacturer__table-cell 
              a(href="#") TURKAN
            .manufacturer__table-cell 
              a(href="#") Роза
          .manufacturer__table-row 
            .manufacturer__table-cell 
              a(href="#") МИНИBS
            .manufacturer__table-cell 
              a(href="#") Лиана
            .manufacturer__table-cell 
              a(href="#") FUTE
            .manufacturer__table-cell 
              a(href="#") Наташа
            .manufacturer__table-cell 
              a(href="#") TURKAN
            .manufacturer__table-cell 
              a(href="#") Роза
          .manufacturer__table-row 
            .manufacturer__table-cell 
              a(href="#") МИНИBS
            .manufacturer__table-cell 
              a(href="#") Лиана
            .manufacturer__table-cell 
              a(href="#") FUTE
            .manufacturer__table-cell 
              a(href="#") Наташа
            .manufacturer__table-cell 
              a(href="#") TURKAN
            .manufacturer__table-cell 
              a(href="#") Роза
          .manufacturer__table-row 
            .manufacturer__table-cell 
              a(href="#") МИНИBS
            .manufacturer__table-cell 
              a(href="#") Лиана
            .manufacturer__table-cell 
              a(href="#") FUTE
            .manufacturer__table-cell 
              a(href="#") Наташа
            .manufacturer__table-cell 
              a(href="#") TURKAN
            .manufacturer__table-cell 
              a(href="#") Роза
        .manufacturer__table-body.tabs-content.js-tabs-content(data-content="2") 
          .manufacturer__table-row 
            .manufacturer__table-cell 
              a(href="#") МИНИBS 
            .manufacturer__table-cell 
              a(href="#") МИНИBS 
            .manufacturer__table-cell 
              a(href="#") FUTE
            .manufacturer__table-cell 
              a(href="#") Наташа
            .manufacturer__table-cell 
              a(href="#") TURKAN
            .manufacturer__table-cell 
              a(href="#") Роза
          .manufacturer__table-row 
            .manufacturer__table-cell 
              a(href="#") МИНИBS
            .manufacturer__table-cell 
              a(href="#") МИНИBS 
            .manufacturer__table-cell 
              a(href="#") FUTE
            .manufacturer__table-cell 
              a(href="#") Наташа
            .manufacturer__table-cell 
              a(href="#") TURKAN
            .manufacturer__table-cell 
              a(href="#") Роза
          .manufacturer__table-row 
            .manufacturer__table-cell 
              a(href="#") МИНИBS
            .manufacturer__table-cell 
              a(href="#") МИНИBS 
            .manufacturer__table-cell 
              a(href="#") FUTE
            .manufacturer__table-cell 
              a(href="#") Наташа
            .manufacturer__table-cell 
              a(href="#") TURKAN
            .manufacturer__table-cell 
              a(href="#") Роза
          .manufacturer__table-row 
            .manufacturer__table-cell 
              a(href="#") МИНИBS
            .manufacturer__table-cell 
              a(href="#") МИНИBS 
            .manufacturer__table-cell 
              a(href="#") FUTE
            .manufacturer__table-cell 
              a(href="#") Наташа
            .manufacturer__table-cell 
              a(href="#") TURKAN
            .manufacturer__table-cell 
              a(href="#") Роза
          .manufacturer__table-row 
            .manufacturer__table-cell 
              a(href="#") МИНИBS
            .manufacturer__table-cell 
              a(href="#") МИНИBS 
            .manufacturer__table-cell 
              a(href="#") FUTE
            .manufacturer__table-cell 
              a(href="#") Наташа
            .manufacturer__table-cell 
              a(href="#") TURKAN
            .manufacturer__table-cell 
              a(href="#") Роза