section.new-goods.section 
  .container 
    .new-goods__title.h2 Новинки магазина
    .new-goods__slider.swiper.js-product-cards-slider
      button.new-goods__slider-prev.slider-control.js-product-cards-slider-prev
        +svg(24, 24, 'arrow-left')
      button.new-goods__slider-next.slider-control.js-product-cards-slider-next
        +svg(24, 24, 'arrow-right')
      .swiper-wrapper
        .product-card.swiper-slide 
          .product-card__stikers.stickers 
            a.sticker.sticker--blue(href="#") С видео
            a.sticker(href="#") Лучшая цена
          picture.product-card__img
            source(srcset="./img/product/img-05.webp")
            img(src="./img/product/img-05.jpg", alt="") 
          .product-card__price 
            span 57.7
            | ₽
          a.product-card__name(href="#") ДЕТСКИЕ КОЛГОТКИ БЕБИКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T025
        .product-card.swiper-slide 
          .product-card__stikers.stickers 
            a.sticker(href="#") Новинка
          picture.product-card__img
            source(srcset="./img/product/img-06.webp")
            img(src="./img/product/img-06.jpg", alt="") 
          .product-card__price 
            span 140.4
            | ₽
          a.product-card__name(href="#") ДЕТСКИЕ КОЛГОТКИ БЕБИКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T025
        .product-card.swiper-slide 
          .product-card__stikers.stickers 
            a.sticker.sticker--blue(href="#") С видео
            a.sticker(href="#") Новинка
          picture.product-card__img
            source(srcset="./img/product/img-07.webp")
            img(src="./img/product/img-07.jpg", alt="") 
          .product-card__price 
            span 90.5
            | ₽
          a.product-card__name(href="#") ДЕТСКИЕ КОЛГОТКИ БЕБИКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T025
        .product-card.swiper-slide 
          .product-card__stikers.stickers 
            a.sticker.sticker--blue(href="#") С видео
          picture.product-card__img
            source(srcset="./img/product/img-08.webp")
            img(src="./img/product/img-08.jpg", alt="") 
          .product-card__price 
            span 30.5
            | ₽
          a.product-card__name(href="#") ДЕТСКИЕ КОЛГОТКИ БЕБИКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T025
        .product-card.swiper-slide 
          .product-card__stikers.stickers 
            a.sticker.sticker--blue(href="#") С видео
          picture.product-card__img
            source(srcset="./img/product/img-05.webp")
            img(src="./img/product/img-05.jpg", alt="") 
          .product-card__price 
            span 30.5
            | ₽
          a.product-card__name(href="#") ДЕТСКИЕ КОЛГОТКИ БЕБИКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T025