section.section.main-products 
  .container 
    .main-products__slider.js-product-cards-slider 
      .swiper-wrapper 
        .product-card.swiper-slide 
          .product-card__stikers.stickers 
            a.sticker(href="#") Лучшая цена
          picture.product-card__img
            source(srcset="./img/product/img-01.webp")
            img(src="./img/product/img-01.jpg", alt="") 
          .product-card__price 
            span 140.24
            | ₽
          a.product-card__name(href="#") ЕТСКИЕ КОЛГОТКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T041
        .product-card.swiper-slide 
          .product-card__stikers.stickers 
            a.sticker(href="#") С видео
            a.sticker.sticker--blue(href="#") Лучшая цена
          picture.product-card__img
            source(srcset="./img/product/img-02.webp")
            img(src="./img/product/img-02.jpg", alt="") 
          .product-card__price 
            span 140.24
            | ₽
          a.product-card__name(href="#") ДЕТСКИЕ КОЛГОТКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T041
        .product-card.swiper-slide 
          .product-card__stikers.stickers 
            a.sticker(href="#") Лучшая цена
          picture.product-card__img
            source(srcset="./img/product/img-03.webp")
            img(src="./img/product/img-03.jpg", alt="") 
          .product-card__price 
            span 140.24
            | ₽
          a.product-card__name(href="#") ДЕТСКИЕ КОЛГОТКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T041
        .product-card.swiper-slide 
          .product-card__stikers.stickers 
            a.sticker(href="#") Лучшая цена
          picture.product-card__img
            source(srcset="./img/product/img-04.webp")
            img(src="./img/product/img-04.jpg", alt="") 
          .product-card__price 
            span 140.24
            | ₽
          a.product-card__name(href="#") ДЕТСКИЕ КОЛГОТКИ НА ДЕВОЧКУ ХЛОПОК, КАЧЕСТВО ПРОСТО СУПЕР!!! TURKAN T041
