section.shop.section 
  .container 
    .shop__title.h2 Оптовый интернет-магазин носков и трикотажной продукции
    .shop__text Ищете качественные носки по адекватным ценам? Тогда Вы точно по  адресу! Наш оптовый интернет-магазин Orensocks предлагает Вам огромный  ассортимент, отличное качество и приемлемую стоимость. Мы осуществляем  продажу носков и другой текстильной продукции оптом по всей России.  Среди наших товаров, вы также можете подобрать себе колготки, гетры,  лосины, перчатки, тапочки, детский и взрослый трикотаж. Вы можете быть  уверены в том, что приобретенные товары будут служить долго и надежно.
    .shop__desc Мы располагаем одним из самых больших оптовых складов  текстиля, поэтому наш интернет-магазин позволяет сохранять самые низкие  цены на всю продукцию.
    .shop__items 
      .shop__col 
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'star')
              span Новинки
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Летние носки
            a.shop__item-link(href="#") Носки черные
            a.shop__item-link(href="#") носки сетка
            a.shop__item-link(href="#") Носки белые
            a.shop__item-link(href="#") Спортивные носки
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'socks-man')
              span Мужские носки
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'gift-box')
              span Носки в подарочной упаковке
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'socks-medical')
              span Медицинские носки
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'socks-woman')
              span Женские носки
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'socks-teens')
              span Подростковые носки
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'socks-kids')
              span Детские носки
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'socks-winter')
              span Носки зимние
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'socks-colors')
              span Цветные носки
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'socks-white')
              span Белые носки
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'socks-sledochki')
              span Носки-тапочки
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
      .shop__col 
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'briefcase')
              span Всё для школы
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Летние носки
            a.shop__item-link(href="#") Носки черные
            a.shop__item-link(href="#") носки сетка
            a.shop__item-link(href="#") Носки белые
            a.shop__item-link(href="#") Спортивные носки
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'leggins')
              span БАНДАЛЕТКИ
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'camisole')
              span ЛЕГИНСЫ,ТОПЫ ДЛЯ ФИТНЕСА
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'leggins-w')
              span КОЛГОТКИ ЖЕНСКИЕ
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'getry')
              span ГЕТРЫ ЖЕНСКИЕ
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'colgotki')
              span ГОЛЬФЫ, ЧУЛКИ, КОЛГОТКИ Х/Б
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'pregnant')
              span КОЛГОТКИ, ЛОСИНЫ ДЛЯ БЕРЕМЕННЫХ
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'shirt')
              span ТУРЦИЯ NICOLETTA (НИКОЛЕТТА)
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'shirt')
              span BAYKAR БЕЛЬЁ
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'shirt')
              span DONELLA БЕЛЬЕ ТУРЦИЯ
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
      .shop__col 
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'under-kids')
              span ТРУСЫ ДЕТСКИЕ
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылкаЛетние носки
            a.shop__item-link(href="#") Носки черные
            a.shop__item-link(href="#") носки сетка
            a.shop__item-link(href="#") Носки белые
            a.shop__item-link(href="#") Спортивные носки
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'under-womans')
              span Женские трусы
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'under-mans')
              span Мужские трусы
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'knit-kids')
              span Трикотаж детский
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'knit-woman')
              span Трикотаж женский
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'knit-man')
              span Трикотаж мужской
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'mitt')
              span ПЕРЧАТКИ И ВАРЕЖКИ
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'gloves')
              span ПЕРЧАТКИ РАБОЧИЕ
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'belt')
              span Пояса, наколенники
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка
        .shop__item.js-accordeon
          .shop__item-head 
            a.shop__item-head-link(href="#") 
              +svg(24, 24, 'socks-new-year')
              span НОВОГОДНИЕ НОСКИ!
            button(type="button").shop__item-toggle.acc-head.js-accordeon-toggle
              +svg(24, 24, 'arrow-down')
          .shop__item-list.acc-body.js-accordeon-body 
            a.shop__item-link(href="#") Внутренняя ссылка