.cabinet__section.js-tabs-content.is-active(data-content="c-history")
  .cabinet__section-title История заказов
  .cabinet__section-content 
    .cabinet-history 
      .cabinet-history__filters.cabinet-filters
        .cabinet-filters__status
          .cabinet-order-status 
            .cabinet-order-status__select
              .form-select
                select.js-form-select(name="") 
                  option(value="1") Все
                  option(value="2") Новый
                  option(value="3") Принят к оплате
                  option(value="3") Оплачен
                  option(value="3") Отправлен
            button.cabinet-order-status__show-popup(data-modal-target="modal-status-select")
              +svg(24, 24, 'filter')

        .cabinet-filters__searchbar
          .searchbar.js-search
            .searchbar__panel 
              input(type="text" placeholder="Номер заказа").searchbar__input.form-control.js-search-input
              button(type="button").searchbar__clear.js-search-clear
                +svg(24, 24, 'close')
              span.searchbar__icon 
                  +svg(24, 24, 'search')
        .cabinet-filters__amount-show 
          .form-select
            select.js-form-select(name="") 
              option(value="1") 10
              option(value="2") 20
              option(value="3") 30
      .cabinet__table.table
        .cabinet__table-not-found Ничего не найдено.
        .table-panel 
          .table-panel__amounts 
            .table-panel__amount-select 
              .form-select
                select.js-form-select(name="") 
                  option(value="1") 10
                  option(value="2") 20
                  option(value="3") 30
            .table-panel__amount-number 1 - 40 of 40
          .table-panel__controls 
            button(type="button" disabled).table-panel__control 
              +svg(24, 24, 'arrow-left') 
            .table-panel__page-number 1
            button(type="button").table-panel__control  
              +svg(24, 24, 'arrow-right')
      .cabinet-history__cards
        .cabinet__table-not-found Ничего не найдено.