.cabinet__section.js-tabs-content.is-active(data-content="c-history")
  .cabinet__section-title История заказов
  .cabinet__section-content  
    .default-result 
      picture.default-result__img 
        source(srcset="./img/result/cabinet-history-empty.svg")
        img(src="./img/result/cabinet-history-empty.svg", alt="")
      .default-result__text Пока нет истории заказов
      a(href="#").default-result__btn.btn.btn--outline Перейти в каталог