.cabinet__top  
  .cabinet__nav 
    button(type="button" data-control="c-history").cabinet__nav-item.js-tabs-control.is-selected История заказов
    button(type="button" data-control="c-carts").cabinet__nav-item.js-tabs-control Сохранённые корзины
    button(type="button" data-control="c-personal").cabinet__nav-item.js-tabs-control Профиль пользователя
  button(type="button").cabinet__exit.btn.btn--transparent 
    span Выйти
    +svg(24, 24, 'exit')